<launch>

### Start the RC Navigator node

<node pkg="rc_nav"
    name="rc_nav"
    type="rc_nav"
    output="screen">

    <remap from="~rc"     to="/khex_com/rc" />
    <remap from="~imu"    to="/khex_com/imu" />
    <remap from="~odom"   to="/control_odom" />

    <rosparam file="$(find rc_nav)/config/towne_base.yaml" />                          
    <param name="rc_config_path" value="$(find rc_proc)/config/ins_khex_rc_config.yaml" />
  </node>

   <node name="odom_visualization"
           pkg ="odom_visualization"
           type="odom_visualization_node"
           output="screen" >
                            
      <remap from="~odom" to="/rc_nav/goal"/>
      <rosparam file="$(find odom_visualization)/config/config03.yaml" />                          
   </node>
</launch>















